@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    background-color: #F3F3F3;
}
.container{
    width: 100%;
}
.conteudo{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #F3F3F3;
}
.conteudo img{
    margin-top: 16px;
    margin-left: 22px;
}
.conteudo ion-icon{
    font-size: 42px;
    margin-top: 25px;
    margin-right: 22.5px;
}
.sidebar{
    display:none;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(10,23,55,0.5);
    width: 100%;
    height: 800px;
    z-index: 100000;
}
.contatos{
    width: 259px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contatos span{
    width: 100%;
    font: Roboto;
    font-weight: 700;
    font-size: 16px;
}
.todos{
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
}
.todos p{
    margin-left: 7.8px;
}
.todos ion-icon{
    font-size: 23.5px;
    margin-left: 17.78px;
}
.adicionados{
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;

}
.adicionados p{
    margin-left: 7.8px;

}
.adicionados ion-icon{
    font-size: 23.5px;
    margin-left: 17.78px;
}
.visibilidade{
    font: Roboto;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px;
    height: 66px;

}

.privado{
    background-color: crimson;
    width: 100%;

}
    
.pessoas{
    background-color: #FFFFFF;
    margin-left: 116px;
    width: 100%;
    height: 100%;
}
.conversa{
    padding-bottom: 85px;
    margin-top: 106px;
    width: 100%;
}
.conversa .envia{
    background-color: #DCDCDC;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.conversa .recebe{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.enviarmensagem{
    width: 100%;
    height: 80px;
   position: fixed;
   bottom: 0;
   right: 0;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.enviarmensagem p{
    margin-left: 16px;
    margin-top: 25px;
}
.enviarmensagem ion-icon{
    margin-top: 27px;
    margin-right: 18px;
    font-size: 26px;
    
}
.enviarmensagem input{
    width: 85%;
    height: 80px;
    border: none;
}
strong{
    font-weight: 700;
}
h2 {
    color: #adacac;
}